<form [formGroup]="formGroup" class="col-sm-4 customForm">
  <div [ngClass]="['form-group row']">
    <label [ngClass]="['col-sm-2', 'col-form-label']"> Name </label><div [ngClass]="['col-sm-10']"><input [ngClass]="['form-control']" formControlName="name" required=""></div><br>
  </div>
  <div [ngClass]="['form-group row']">
    <label [ngClass]="['col-sm-2', 'col-form-label']"> Role </label><div [ngClass]="['col-sm-10']"><select [ngClass]="['form-control']" formControlName="role">
    <option *ngFor="let role of listRoles" [ngValue]="role" >{{role.name}}</option>
  </select></div></div>
  <div [ngClass]="['form-group row']">
  <label [ngClass]="['col-sm-2', 'col-form-label']"> Password </label><div [ngClass]="['col-sm-10']"><input [ngClass]="['form-control']" formControlName="password" required=""></div><br>
</div>
  <div [ngClass]="['form-group row']">
    <label [ngClass]="['col-sm-2', 'col-form-label']"> Email </label><div [ngClass]="['col-sm-10']"><input [ngClass]="['form-control']" formControlName="email" required=""></div><br>
  </div>
  <div>
    <button [ngClass]="['btn btn-dark']" type="sumbit" (click)="add()">Добавить</button>
  </div>
</form>
<table class="table-striped table">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Password</th>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listUsers">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{getListRole(user.role)}}</td>
      <td>{{user.password}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
