<form [formGroup] = "pushForm" [ngClass]="['col-sm-4 customForm']">
  <div [ngClass]="['form-group row']">
   <label [ngClass]="['col-sm-2', 'col-form-label']">Name</label><div [ngClass]="['col-sm-10']"><select [ngClass]="['form-control']" (change)="onChangeUser($event.target.value)">
  <option *ngFor="let user of listUsers" [ngValue]="user">{{user.name}}</option>
</select></div></div>
  <div [ngClass]="['form-group row']">
    <label [ngClass]="['col-sm-2', 'col-form-label']"> Text </label><div [ngClass]="['col-sm-10']"><input [ngClass]="['form-control']" formControlName="text" required=""></div><br>
  </div>
  <div [ngClass]="['form-group row']">
    <label [ngClass]="['col-sm-2', 'col-form-label']"> Date </label><div [ngClass]="['col-sm-10']"><input [ngClass]="['form-control']" formControlName="date" required="" type="datetime-local"><br>
  </div></div>
  <div [ngClass]="['form-group row']">
    <label [ngClass]="['col-sm-2', 'col-form-label']"> Title </label><div [ngClass]="['col-sm-10']"><input [ngClass]="['form-control']" formControlName="title" required="" ><br>
  </div></div>
  <div>
    <button [ngClass]="['btn btn-dark']" type="sumbit" (click)="add()">Добавить</button>
  </div>
</form>
<table [ngClass]="['table','table-striped']">
  <thead [ngClass]="['thead-dark']">
    <tr>
      <th>ID</th>
      <th>Сообщение</th>
      <th>Статус отправки</th>
      <th>Время отправки</th>
      <th>Заголовок</th>
      <th>Список пользователей</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let push of listPushes">
    <td>{{push.id}}</td>
    <td>{{push.message}}</td>
    <td>{{push.sendStatus}}</td>
    <td>{{changeDateToText(push.sendtime)}}</td>
    <td>{{push.title}}</td>
    <td>{{listUsersToString(push.users)}}</td>
  </tbody>
</table>


